@import "tailwindcss";

:root {
  --yellow: #ddd09a;
  --dark-Yellow: #5b5446;
  --gray: #1a1a1a;
  --mid-gray: #242424;
  --light-gray: #2f2f2f;
  --text-gray: rgba(255, 255, 255, 0.75);
}

.gradient-bg {
  background: rgba(65, 52, 37, 8.51);
  background: radial-gradient(
    circle,
    rgba(65, 52, 37, 0.85) 0%,
    rgba(0, 0, 0, 1) 70%
  );
}

.circle-one {
  border: 2px solid rgba(255, 255, 255, 0.07);
}

.circle-two {
  border: 2px solid rgba(255, 255, 255, 0.09);
}

.circle-three {
  border: 2px solid rgba(255, 255, 255, 0.15);
}
